#categories-section{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.categories-heading{
    font-size: 2rem;
    font-weight: 400;
    margin: 10rem 0 2rem 0;
}
.categories-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 1rem 25rem;
}
.category-article{
    background-color: white;
    padding: 1rem;
    border-radius: 0 3rem;
    text-align: center;
    width: 15rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 5px 10px #94b6c5;
}
.category-article:hover{
    transform: scale(105%);
}
.category-image{
    width: 12rem;
    height: 8rem;
    border-radius: 0 3rem 0 0;
}
.category-title{
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem;
    font-weight: 600;
}
.description{
    color: #191919;
    font-size: 0.7rem;
    word-break: break-all;
    margin: 0 auto;
    width: 85%;
}
@media screen and (max-width: 1105px){
    .categories-div{
        margin: 0 1rem 3rem;
    }
}
