#devices{
    background-color: var(--background-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
}
#category-title{
    margin-top: 8rem;
    font-size: 2rem;
    font-weight: 400;
}
.devices-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    gap: 4rem;
    margin: 3rem 0;
}
