.device_article{
    background-color: white;
    padding: 1rem;
    border-radius: 0 3rem;
    max-width: 12rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.device_article:hover{
    box-shadow: 10px 5px 10px #94b6c5;
}
.device_image{
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: 7rem;
}
.device_title{
    font-size: 0.85rem;
    font-weight: 400;
    color: #191919;
    width: 90%;
}
.price_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-size: 1.3rem;
    font-weight: 700;
    color: #a5d861;
}
.button_icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--brand-color);
    transition: all 0.2s ease-in-out;
}
.button_icon:hover, .button_icon:focus-visible{
    outline: none;
    filter: brightness(140%);
    transform: scale(105%);
}
.button_icon:active{
    filter:hue-rotate(180deg);
}
.cart{
    font-size: 1.5rem;
}
