#device_main{
    width: 100%;
    max-width: 100rem;
    display: flex;
    justify-content: center;
}
.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 95%;
    margin-top: 8rem;
}
#device_title{
    font-size: 4rem;
    font-weight: 500;
}
#price{
    font-size: 2rem;
    color: #fdff46;
    margin: 1rem 0;
}
.controls_div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.cart_button{
    width: 9.5rem;
    padding: 0.8rem 1rem;
    background-color: white;
    font-weight: 700;
    border: none;
    font-size: 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
}
#device_image{
    width: 38rem;
}
@media screen and (max-width: 1100px) {

    #device_image{
        width: 35rem;
    }
    #device_title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 750px){
    #device_main{
        height: 100%;
        align-items: center;
    }
    #device_image, #device_details{
        width: 30rem;
    }
    .panel{
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
    #description{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 600px){
    #device_image, #device_details{
        width: 25rem;
    }
}
@media screen and (max-width: 410px){
    #device_image, #device_details{
        width: 20rem;
    }
}
@media screen and (max-width: 330px){
    #device_image, #device_details{
        width: 15rem;
    }
}
