#home-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.toggle-sound{
    position: absolute;
    top: 18%;
    left: 4%;
    cursor: pointer;
    opacity: 0.2;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    transition: opacity 0.2s ease-in-out;
    color: var(--brand-color);
    border: none;
}
.toggle-sound:hover{
    opacity: 0.7;
}
