#home-page{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
}
#background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
