:root{
  --brand-color: rgb(0, 147, 251);
  --background-color: #afd9d5;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--background-color);
}
#root{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
