.adjusted_height{
    height: 0% !important;
    min-height: auto !important;
}
.navigation_panel{
    margin-top: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
#title{
    color: var(--brand-color);
    margin-top: 4rem;
    font-size: 3rem;
}
#navigation_section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}
#background_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.search_bar_form{
    width: 53%;
    max-width: 40rem;
    position: relative;
    display: flex;
    align-items: center;
}
.button_icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--brand-color);
    transition: all 0.2s ease-in-out;
}
.button_icon:focus-visible, .button_icon:hover{
    outline: none;
    filter: brightness(140%);
    transform: scale(105%);
}
.search,.delete{
    position: absolute;
}
.search{
    margin-left: 0.7rem;
}
.delete{
    right: 0%;
    margin-right: 0.7rem;
}

.item_search{
    width: 100%;
    height: 2rem;
    padding: 0 2rem;
    font-size: 1.1rem;
    border: 1px solid var(--brand-color);
    border-radius: 0.3rem;
    min-width: 6rem;
    caret-color: var(--brand-color);
}
.item_search:focus{
    outline: none;
}
.item_search::placeholder{
    font-size: 0.9rem;
    color: rgb(181, 180, 180)
}
.icons{
    display: flex;
    gap: 1rem;
}
.cart_div{
    position: relative;
}
.item_counter{
    position: absolute;
    text-align: center;
    font-size: 0.8rem;
    background-color: orange;
    border-radius: 4rem;
    width: min-content;
    min-width: 1rem;
    right: -0.2rem;
    top: -0.8rem;
}
.cart, .profile{
    font-size: 1.5rem;
}
#logo{
    max-width: 5rem;
    max-height: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#logo:hover{
    transform: scale(110%);
}

@media screen and (max-width: 1400px){
    .navigation_panel{
        gap: 10%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px){
    .navigation_panel{
        gap: 5%;
    }
    .icons{
        margin-right: 1rem;
    }
}
