.adjusted-height{
    height: 0% !important;
    min-height: auto !important;
}
.navigation-panel{
    margin-top: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
#title{
    color: var(--brand-color);
    margin-top: 4rem;
    font-size: 3rem;
}
#navigation-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}
#background-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.search-bar-form{
    width: 53%;
    max-width: 40rem;
    position: relative;
    display: flex;
    align-items: center;
}
.button-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--brand-color);
    transition: all 0.2s ease-in-out;
}
.button-icon:focus, .button-icon:hover{
    outline: none;
    filter: brightness(140%);
    transform: scale(105%);
}
.search,.delete{
    position: absolute;
}
.search{
    margin-left: 0.7rem;
}
.delete{
    right: 0%;
    margin-right: 0.7rem;
}

.item-search{
    width: 100%;
    height: 2rem;
    padding: 0 2rem;
    font-size: 1.1rem;
    border:var(--brand-color) 1px solid;
    border-radius: 0.3rem;
    min-width: 6rem;
}
.item-search:focus{
    outline: none;
}
.item-search::placeholder{
    font-size: 0.9rem;
    color: rgb(181, 180, 180)
}
.icons{
    display: flex;
    gap: 1rem;
}
.cart, .profile{
    font-size: 1.5rem;
}
#logo{
    max-width: 5rem;
    max-height: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#logo:hover{
    transform: scale(110%);
}

@media screen and (max-width: 1400px){
    .navigation-panel{
        gap: 10%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px){
    .navigation-panel{
        gap: 5%;
    }
    .icons{
        margin-right: 1rem;
    }
}
